.textAndImageContainer{
  padding-left: 25%;
  max-width: 70%;
  white-space: initial;
  overflow-wrap: break-word;
  line-height: 2em;
}

.ilustra {
  float: left;
  margin-right: 20px;
  width: 20%;
  height: auto;
}

p {
  text-align: justify;
  color: #05658e;
  font-size: 1.25em;
}

#photos {
  /* Prevent vertical gaps */
  padding-left: 25%;
  line-height: 0;
   
  -webkit-column-count: 3;
  -webkit-column-gap:   4px;
  -moz-column-count:    3;
  -moz-column-gap:      4px;
  column-count:         3;
  column-gap:           4px;  
}

.imagethumb {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin-top: 3px;
}

  @media (max-width: 1000px) {
    #photos {
      padding-left: 0;
      -moz-column-count:    2;
      -webkit-column-count: 2;
      column-count:         2;
      }
    .textAndImageContainer{
      padding-left: 10%;
      max-width: 90%;
    }
    .ilustra{
      width: 40%;
    }
  }
  @media (max-width: 400px) {
    #photos {
      padding-left: 0;
      -moz-column-count:    1;
      -webkit-column-count: 1;
      column-count:         1;
      }
    .imagethumb {
      /* Just in case there are inline attributes */
      width: 100% !important;
      height: 100% !important;
      margin-top: 3px;
    }
    .textAndImageContainer{
      padding-left: 2%;
      max-width: 95%;
    }
    .ilustra{
      width: 65%;
    }
  }