{% load static %}

<!DOCTYPE html>

<html lang="en">
    <link rel="stylesheet" href="{% static 'saudadesemfim/styleHomepage.css' %}">
    <link rel="stylesheet" href="{% static 'saudadesemfim/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
    <title>Saudade Sem Fim</title>
    </head>
    <body>
            <h1>{{webTitle}}</h1>
        <div class="header-container">
            <div id="menuButton" class="container" onclick="menuOpen(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <div class="menuDropdownWrapper">
                    <div id="menuDropdown" class="dropdown-content">
                        <a href="#" class="onPage">Home</a>
                        <a href="galeria">Galeria</a>
                        <a href="quemsomos">Quem somos</a>
                        <a href="alforreca">Alforreca</a>
                        <a href="comochegar">Como chegar</a>
                    </div>
                </div>
            </div>

            <div class="leftMenu">
                <div id="menuList" class="listContent">
                    <a href="#" class="onPage">Home</a>
                    <a href="galeria">Galeria</a>
                    <a href="quemsomos">Quem somos</a>
                    <a href="alforreca">Alforreca</a>
                    <a href="comochegar">Como chegar</a>
                </div>
                <div id="footer-wrapper">
                    <a id="linktoMaps" href="https://goo.gl/maps/tTVa5vzhDEB8AoV89" target="_blank">
                        <span class="textToMaps">Venha tomar um café connosco!</span>
                    </a>
                    <li id="physicalContact">Rua do Vigário, 16</li>
                    <li id="physicalContact">1100-615</li>
                    <li id="physicalContact">Lisboa</li>
                    <li id="physicalContact">+351 218 873 831</li>
                    <a id="physicalContact" href="mailto:saudadesstore@gmail.com">saudadesstore@gmail.com</a>
                    <div class="socialMedia-container">
                        <a class="instagram-icon" title="Instagram" href="https://www.instagram.com/saudade.sem.fim/" target="_blank">
                            <img class="socialMedia-icon" src="{% static 'saudadesemfim/instagram.webp' %}">
                        </a>
                    </div>
                </div>
            </div>

            <div id="photos">
                <div class="box">
                    <img class="imagethumb desktop" src={{ mainImageDesktop.photos_item.url }}>
                    <img class="imagethumb mobile" src={{ mainImageMobile.photos_item.url }}>
                </div>
            </div>
            <div id="footer-below">
                <a id="linktoMaps" href="https://goo.gl/maps/tTVa5vzhDEB8AoV89" target="_blank">
                    <span class="textToMaps">Venha tomar um café connosco!</span>
                </a>
                <li id="physicalContact">Rua do Vigário, 16</li>
                <li id="physicalContact">1100-615</li>
                <li id="physicalContact">Lisboa</li>
                <li id="physicalContact">+351 218 873 831</li>
                <a id="physicalContact" href="mailto:saudadesstore@gmail.com">saudadesstore@gmail.com</a>
                <div class="socialMedia-container">
                    <a class="instagram-icon-below" title="Instagram" href="https://www.instagram.com/saudade.sem.fim/" target="_blank">
                        <img class="socialMedia-icon" src="{% static 'saudadesemfim/instagram.webp' %}">
                    </a>
                </div>
            </div>
        </div>

        <script src="{% static 'saudadesemfim/menuOpenRefront.js' %}"></script>
    </body>
</html>